<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Ekskludér filer fra coverage -->
          <ExcludeByFile>**/Migrations/*.cs;**/Program.cs;**/*DbContext*.cs</ExcludeByFile>

          <!-- (valgfrit) Kun disse formater -->
          <Format>cobertura</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>