<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Exclude generated/infra files from coverage -->
          <ExcludeByFile>**/Migrations/*;**/Program.cs;**/*DbContext*.cs</ExcludeByFile>

          <!-- Output format -->
          <Format>cobertura</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>