<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Fjern ting der ikke giver mening at måle på (Program/Migrations/DbContext) -->
          <ExcludeByFile>**/Migrations/**;**/Program.cs;**/*DbContext*.cs;**/*ModelSnapshot*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>